/backend/venv
/backend/db
backend/db/db.sqlite
/backend/models/__pycache__
/backend/db
/backend/models
/backend/models
*.pyc
backend/db/db.sqlite
backend/models/__pycache__/sections.cpython-310.pyc
backend/models/__pycache__/subjects.cpython-310.pyc
backend/models/__pycache__/teachers.cpython-310.pyc
backend/routes/__pycache__/schedules.cpython-310.pyc
backend/routes/__pycache__/subjects.cpython-310.pyc
backend/routes/__pycache__/teachers.cpython-310.pyc
backend/scripts/__pycache__/ant_colony.cpython-310.pyc
backend/scripts/__pycache__/hill_climbing.cpython-310.pyc
backend/scripts/__pycache__/moga_algo.cpython-310.pyc
